<div class="table-style">
    <div class="row  mrgn-b-lg">
        <div class="col-sm-12 col-md-12 col-xs-12">
            <div @*class="forms"*@>
                <div class="table-responsive" style="height:270px;border: 1px solid #eeeeee">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>IBT Number</th>
                                <th>Packing Slip</th>
                                <th>Branch Name</th>
                                <th>Total Items</th>
                                <th>Pack Date</th>
                                <th>Carton Number</th>
                                <th>All Check<input type="checkbox" onclick="allCheck(this)" name="chk[]"/></th>
                                
                            </tr>

                        </thead>
                        <tbody class="tbodyIndex" id="tablea1"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

