@model Model.StockDistributionViewModel
@{
    Layout = null;
}

<h2>SaveData</h2>

<p>
 
</p>
<table class="table">
    
    <tr>
        <th></th>
    </tr>


    <tr>
        
    </tr>


</table>
