
@model List<Model.Report.OutstandingPurchaseOrderReport>

@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .ul.pagination {
        display: inline-block;
        padding: 0;
        margin: 0;
    }

    ul.pagination li {
        display: inline;
    }

        ul.pagination li a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
        }

            ul.pagination li a.active {
                background-color: #4CAF50;
                color: white;
            }

            ul.pagination li a:hover:not(.active) {
                background-color: #ddd;
            }
</style>
<div class="row">
    <div class="prtm-page-bar col-md-5 col-lg-3 col-sm-12 col-12" style="background:none;">
        <ul class="breadcrumb" style="background:none;">
            <li class="breadcrumb-item text-capitalize">
                <h3>Outstanding Purchase Order Report</h3>
            </li>
            @*<li class="breadcrumb-item"><a href="#">Dashboard</a></li>*@
        </ul>
    </div>
    @*@using (Html.BeginForm("Index", "User") new { @class = "formuser" })*@
    @*@using (Html.BeginForm("Index", "User", FormMethod.Post, new { @class = "formuser" }))
        {*@
    <!--------advanced search-->
    
    <!------------------>
    @*}*@
    <div class="add-btn-div col-md-4 col-lg-3 col-sm-4 col-12 text-right">
        @*<button type="button" class="btn btn-primary import-btn">Import</button>&nbsp;&nbsp;
            <button type="button" class="btn btn-primary export-btn">Export</button>&nbsp;&nbsp;*@

        @*<button type="button" class="btn btn-primary import-btn" data-toggle="modal" data-target="#myModal" data-backdrop="static" data-keyboard="false" onclick="create()">Add</button>*@
    </div>
</div>
<div class="table-style">
    @if (TempData["Success"] != null)
    {
        <p class="alert alert-success" id="successMessage" style="width: 300px;height: 25px;color: #fff;text-align: center; padding-bottom: 2em;">
            @TempData["Success"]
        </p>
    }
    <script>
        setTimeout(function () {
            $('#successMessage').fadeOut('slow');
        }, 5000);
    </script>
    <div class="dvUserDetails">
        @{

            Html.RenderPartial("_OutstandingPurchaseOrderReport", Model);
        }

    </div>

</div>
<div class="modal fade" id="myModal">
    <div id="dvCreatedetails">


    </div>

</div>
<div class="modal fade" id="myCancelModal">
    <div id="Canceldiv">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Confirm Cancel</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you need to close without save!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    <button type="button" id="cancelyesbtn" class="btn btn-success popup-savebtn" data-dismiss="modal">yes</button>
                </div>
            </div>
        </div>
    </div>
</div>


@*@section script{*@
<script type="text/javascript">

        function searchData()
        {
        debugger;
            var obj = {};
            obj.date = $('.searchiFirstName').val();
            obj.TimeMethod = $('#TimeMethod').val();

             $.ajax({
                type: "POST",
                url: '/Admin/Report/_OutstandingPurchaseOrderReport',

                data: obj,
                success: function (result) {
                    $('.dvUserDetails').html(result);
                    //  alert('hdfjdhfj');
                },
                error: function (xhr, status) {
                    alert(status)
                }

            });
        }

</script>


