@model List<Model.ProductCat4Model>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    // var list = ViewBag.Data as IPagedList<Model.AreaModel>;
}
<style>
    .ul.pagination {
        display: inline-block;
        padding: 0;
        margin: 0;
    }

    ul.pagination li {
        display: inline;
    }

        ul.pagination li a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
        }

            ul.pagination li a.active {
                background-color: #4CAF50;
                color: white;
            }

            ul.pagination li a:hover:not(.active) {
                background-color: #ddd;
            }
</style>
<div class="row">
    <div class="prtm-page-bar col-md-5 col-lg-3 col-sm-12 col-12" style="background:none;">
        <ul class="breadcrumb" style="background:none;">
            <li class="breadcrumb-item text-capitalize">
                <h3>Product Category4</h3>
            </li>
            <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
        </ul>
    </div>
    @*@using (Html.BeginForm("Index", "User") new { @class = "formuser" })*@
    @*@using (Html.BeginForm("Index", "User", FormMethod.Post, new { @class = "formuser" }))
        {*@
    <!--------advanced search-->
    <div class="col-md-8 col-lg-6 col-sm-8 col-12 search-container">
        <div class="top-search-navbar-search smallsearch col-md-12 col-lg-12 col-sm-12 col-12">
            <div class="row">

                <input class="top-search-navbar-input col-md-8 col-lg-10 col-sm-8 col-xs-8 searchiFirstName" type="text" placeholder="Search Category" Id="Name" name="iFirstName">

                @*<input type="submit" value="Add" class="btn btn-success popup-savebtn" />*@

                <button class="advance-search col-md-2 col-lg-1 col-sm-2 col-xs-2" type="button"></button>

                <button class="top-search-navbar-button col-md-2 col-lg-1 col-sm-2 col-xs-2" onclick="searchData()">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </div>
        </div>


    </div>
    <!------------------>
    @*}*@
    <div class="add-btn-div col-md-4 col-lg-3 col-sm-4 col-12 text-right">
        @*<button type="button" class="btn btn-primary import-btn">Import</button>&nbsp;&nbsp;
            <button type="button" class="btn btn-primary export-btn">Export</button>&nbsp;&nbsp;*@

        <button type="button" class="btn btn-primary import-btn" data-toggle="modal" data-target="#myModal" data-backdrop="static" data-keyboard="false" onclick="create()">Add</button>
    </div>
</div>
<div class="table-style">
    @if (TempData["Success"] != null)
    {
        <p class="alert alert-success" id="successMessage" style="width: 300px;height: 25px;color: #fff;text-align: center; padding-bottom: 2em;">
            @TempData["Success"]
        </p>
    }
    <script>
        setTimeout(function () {
            $('#successMessage').fadeOut('slow');
        }, 5000);
    </script>
    <div class="dvUserDetails">
        @{

            Html.RenderPartial("_Index1", Model);
        }

    </div>

</div>
<div class="modal fade" id="myModal">
    <div id="dvCreatedetails">


    </div>

</div>
<div class="modal fade" id="myCancelModal">
    <div id="Canceldiv">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Confirm Cancel</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you need to close without save!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    <button type="button" id="cancelyesbtn" class="btn btn-success popup-savebtn" data-dismiss="modal">yes</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).on("click", "#cancelyesbtn", function () {
            window.location = '/Admin/ProductCat4/Index';
        });
        function searchData() {
            debugger;
            var obj = {};
        obj.CateName = $('#Name').val();
            obj.IsActive = true;
            $.ajax({
                url: '/Admin/ProductCat4/_Index1',
                type: 'POST',
                data: obj,
                success: function (result) {
                    $('.dvUserDetails').html(result);
                },
                error: function (xhr, status) {
                    alert(status)
                }

            });
            return false;
        }

        $(document).on("click", "a[href^='/Admin/ProductCat4/_Index1?page']", function () {
            debugger
            var obj = {};
        obj.CateName = $('#Name').val();
            obj.IsActive = true;
            $.ajax({
                type: "POST",
                url: $(this).attr("href"),
               // data: JSON.stringify(obj),
                data: obj,
                success: function (result) {
                    $('.dvUserDetails').html(result);
                    //  alert('hdfjdhfj');
                },
                error: function (xhr, status) {
                    alert(status)
                }

            });
            return false;
        });

        var id1;
        function create() {
            Data(0);
        }

        function edit(edit) {
            id1 = edit;//$(this).data("id");
            Data(1);
        }

        function details(details) {
            id1 = details;//$(this).data("id");
            Data(2);
        }

        function del(del) {
            id1 = del;//"";
            Data(3);
        }

        //  $(".approve").click(function () {
        //       id2 = $(this).data("id");
        //      approved();
        //  });
        function Data(ch) {
            debugger;
            var crud = "";
            switch (ch) {
                case 0:
                    crud = '/Admin/ProductCat4/Create';
                    break;
                case 1:
                    crud = '/Admin/ProductCat4/Edit/' + id1;
                    break;
                case 2:
                    crud = '/Admin/ProductCat4/Details/' + id1;
                    break;
                case 3:
                    crud = '/Admin/ProductCat4/Delete/' + id1;
                    break;
                // case 4:
                //    crud = '/Admin/User/approve/' + id1;
                //   break;
            }
            $.ajax({

                url: crud,
                contentType: 'application/html; charse=utf-8',
                type: 'GET',
                // data: {page : page} ,
                dataType: 'html',
                success: function (result) {

                    $('#dvCreatedetails').html(result);
                },
                error: function (xhr, status) {
                    alert(status)
                }
            });
        }

    </script>
}
