<div class="col-sm-12 col-md-12 col-xs-12">
    <div class="prtm-full-block">
        <div class="row marg-btn-20">
            <div class="prtm-block-content mrgn-b-md">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Branches</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody class="tbodyIndex">
                            <tr>
                                <td>
                                    <ul>
                                        <li>001 0001</li>
                                        <li></li>
                                        <li>5%</li>
                                        <li>01/01/2019</li>
                                    </ul>
                                </td>
                                <td width="800px">
                                    <input type="checkbox" />All Select
                                    <div class="branch-list-block">
                                        <ul class="branch-list">
                                            <li><input type="checkbox" />NICOL</li>
                                            <li><input type="checkbox" />CITY BRANCH</li>
                                            <li><input type="checkbox" />SAMMY MARKS SQUARE</li>
                                            <li><input type="checkbox" />D.S.O. POLOKWANE</li>
                                            <li><input type="checkbox" />DSO MTHATHA MALL</li>
                                        </ul>
                                        <ul class="branch-list">
                                            <li><input type="checkbox" />WEST 388</li>
                                            <li><input type="checkbox" />BRAZILIA BALLITO JUNCTION</li>
                                            <li><input type="checkbox" />SOUTHGATE SHOPPING M</li>
                                            <li><input type="checkbox" />DSO NEWTOWN</li>
                                            <li><input type="checkbox" />DSO GILWELD</li>
                                        </ul>
                                        <ul class="branch-list">
                                            <li><input type="checkbox" />EMPANGENI</li>
                                            <li><input type="checkbox" />BLOEMFONTEIN</li>
                                            <li><input type="checkbox" />DSO WESTWOOD MALL</li>
                                            <li><input type="checkbox" />MARK PARK CENTRE</li>
                                            <li><input type="checkbox" />MIMOSA MALL</li>
                                        </ul>
                                        <ul class="branch-list">
                                            <li><input type="checkbox" />MOTN STOCK ROOM</li>
                                            <li><input type="checkbox" />GATEWAY</li>
                                            <li><input type="checkbox" />MIDLANDS MALL</li>
                                            <li><input type="checkbox" />GRAND SHOE CARLTON CENTRE</li>
                                            <li><input type="checkbox" />DSO HEMMINGWAYS</li>
                                        </ul>
                                        <ul class="branch-list">
                                            <li><input type="checkbox" />WEBSTORE</li>
                                            <li><input type="checkbox" />CALL BACK STOCK</li>
                                            <li><input type="checkbox" />WAREHOUSE</li>
                                            <li><input type="checkbox" />B001</li>
                                            <li><input type="checkbox" />B001</li>
                                        </ul>
                                    </div>
                                </td>
                                <td>Active</td>
                                <td>
                                    <button type="button" class="btn btn-success btn-primary export-btn" onclick="searchData()">Allow</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <ul>
                                        <li>001 0002</li>
                                        <li></li>
                                        <li>5%</li>
                                        <li>01/01/2019</li>
                                    </ul>
                                </td>
                                <td width="800px">
                                    <input type="checkbox" />All Select
                                    <div class="branch-list-block">
                                        <ul class="branch-list">
                                            <li><input type="checkbox" />NICOL</li>
                                            <li><input type="checkbox" />CITY BRANCH</li>
                                            <li><input type="checkbox" />SAMMY MARKS SQUARE</li>
                                            <li><input type="checkbox" />D.S.O. POLOKWANE</li>
                                            <li><input type="checkbox" />DSO MTHATHA MALL</li>
                                        </ul>
                                        <ul class="branch-list">
                                            <li><input type="checkbox" />WEST 388</li>
                                            <li><input type="checkbox" />BRAZILIA BALLITO JUNCTION</li>
                                            <li><input type="checkbox" />SOUTHGATE SHOPPING M</li>
                                            <li><input type="checkbox" />DSO NEWTOWN</li>
                                            <li><input type="checkbox" />DSO GILWELD</li>
                                        </ul>
                                        <ul class="branch-list">
                                            <li><input type="checkbox" />EMPANGENI</li>
                                            <li><input type="checkbox" />BLOEMFONTEIN</li>
                                            <li><input type="checkbox" />DSO WESTWOOD MALL</li>
                                            <li><input type="checkbox" />MARK PARK CENTRE</li>
                                            <li><input type="checkbox" />MIMOSA MALL</li>
                                        </ul>
                                        <ul class="branch-list">
                                            <li><input type="checkbox" />MOTN STOCK ROOM</li>
                                            <li><input type="checkbox" />GATEWAY</li>
                                            <li><input type="checkbox" />MIDLANDS MALL</li>
                                            <li><input type="checkbox" />GRAND SHOE CARLTON CENTRE</li>
                                            <li><input type="checkbox" />DSO HEMMINGWAYS</li>
                                        </ul>
                                        <ul class="branch-list">
                                            <li><input type="checkbox" />WEBSTORE</li>
                                            <li><input type="checkbox" />CALL BACK STOCK</li>
                                            <li><input type="checkbox" />WAREHOUSE</li>
                                            <li><input type="checkbox" />B001</li>
                                            <li><input type="checkbox" />B001</li>
                                        </ul>
                                    </div>
                                </td>
                                <td>true</td>
                                <td>
                                    <button type="button" class="btn btn-success btn-primary export-btn" onclick="searchData()">Allow</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <ul>
                                        <li>001 0003</li>
                                        <li></li>
                                        <li>5%</li>
                                        <li>01/01/2019</li>
                                    </ul>
                                </td>
                                <td width="800px">
                                    <input type="checkbox" />All Select
                                    <div class="branch-list-block">
                                        <ul class="branch-list">
                                            <li><input type="checkbox" />NICOL</li>
                                            <li><input type="checkbox" />CITY BRANCH</li>
                                            <li><input type="checkbox" />SAMMY MARKS SQUARE</li>
                                            <li><input type="checkbox" />D.S.O. POLOKWANE</li>
                                            <li><input type="checkbox" />DSO MTHATHA MALL</li>
                                        </ul>
                                        <ul class="branch-list">
                                            <li><input type="checkbox" />WEST 388</li>
                                            <li><input type="checkbox" />BRAZILIA BALLITO JUNCTION</li>
                                            <li><input type="checkbox" />SOUTHGATE SHOPPING M</li>
                                            <li><input type="checkbox" />DSO NEWTOWN</li>
                                            <li><input type="checkbox" />DSO GILWELD</li>
                                        </ul>
                                        <ul class="branch-list">
                                            <li><input type="checkbox" />EMPANGENI</li>
                                            <li><input type="checkbox" />BLOEMFONTEIN</li>
                                            <li><input type="checkbox" />DSO WESTWOOD MALL</li>
                                            <li><input type="checkbox" />MARK PARK CENTRE</li>
                                            <li><input type="checkbox" />MIMOSA MALL</li>
                                        </ul>
                                        <ul class="branch-list">
                                            <li><input type="checkbox" />MOTN STOCK ROOM</li>
                                            <li><input type="checkbox" />GATEWAY</li>
                                            <li><input type="checkbox" />MIDLANDS MALL</li>
                                            <li><input type="checkbox" />GRAND SHOE CARLTON CENTRE</li>
                                            <li><input type="checkbox" />DSO HEMMINGWAYS</li>
                                        </ul>
                                        <ul class="branch-list">
                                            <li><input type="checkbox" />WEBSTORE</li>
                                            <li><input type="checkbox" />CALL BACK STOCK</li>
                                            <li><input type="checkbox" />WAREHOUSE</li>
                                            <li><input type="checkbox" />B001</li>
                                            <li><input type="checkbox" />B001</li>
                                        </ul>
                                    </div>
                                </td>
                                <td>true</td>
                                <td>
                                    <button type="button" class="btn btn-success btn-primary export-btn" onclick="searchData()">Allow</button>
                                </td>
                            </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
